* {
    box-sizing: border-box;
  }
   body {
    background-color:#def8ff;
  }
  h1 {
    margin: 100px;
    text-align: center;
    font-family: 'Dancing Script', cursive;   
    font-weight: bold;
    font-size:200%;
    text-transform: uppercase;
    color:black;
    border:1px;
  }
  section {
    position: relative;
    padding: 15px;
    width: 100%;
  }
  p {
    position: relative;
    clear: right;
  }
  div {
    position: relative;
    background-color: #c0f0fc;
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  .t, .m, .f {
    
    font-family: Helvetica; 
      text-transform: uppercase;
      text-align: center;
    font-size: 100%;
    float: right;
    width: 110px;
    padding: 5px;
    margin: 0px;
    border: 1px solid black;
}
  
  .t {
    color:white;
    background-color:blue;
    
    
  }
  .m {
    color:white;
    background-color:red;
    
  }
  .f {
    color:white;
    background-color:green;

    
  }
  .content {
    padding: 10px;
    border: none;
    margin: 0px;
    height: 200px;
  
  }
  
  .row {
    width: 100%;
  }
  
  /*desktop version*/
  @media (min-width: 992px){
    .column-lg-4 {
      float: left;
      width: 33.33%;
    }
  }
  /*tablet version*/
  @media (min-width: 768px) and (max-width: 991px){
    .colmn-md-6 {
      float: left;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    .colmn-md-12 {
      float: left;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  /*mobile version*/
  @media (max-width: 767px;){
    .colmn-sm-12 {
      float: left;
      width: 100%;
    }
  }